mixin product-item(product)
    .product-item
        .product-item__image
            img(src=product.image alt="")
        .product-item__content
            a.product-item__title(href="product-detail.html") #{product.title}
            .product-item__info
                .product-item__info-item Giống: <b>#{product.gender}</b>
                .product-item__info-item Tuổi: <b>#{product.age}</b>
            .product-item__price #{product.price}